doctype html
html(lang="en")
  head
    title KeyPathExp Testing
    script(type='text/javascript', src= file)
    script(type='text/javascript').
      kp = new KeyPathExp( 'foo.bar' );
  body
    h1 KeyPathExp Test
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.